#idea and ant
.idea
build
target
out
*.iml

#ignore user config.
Data/game/config
!/Data/game/config/default
Data/login/config
!/Data/login/config/default
Data/sql/data/options.ini

#logs ignore 
Data/login/log
Data/game/log

#Незабывайте писать коменты ска)
